// GENERAL_WEBHOOK_URL is optional

module.exports = {
    YOUTRACK_URL: "https://example.youtrack.cloud",
    SITE_NAME: "MyCompany - ",
    SENDER_NAME: "YouTrackBot",
    GENERAL_WEBHOOK_URL: "https://discord.com/api/webhooks/XXX"
};