/*
This list can be used to notify specific channels.
The script will identify the watchers of an issue and send a notification to the user's channel via their webhookUrl.

Explanations of attributes:
    - youtrackUsername: Used to identify the user who is watching the issue.
    - webhookUrl (optional): The webhookUrl to the channel where the message should be sent
    - discordUserID (optional): Used to mention a user in discord if the message refers to them

How to get the discord user id:
https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID-
*/

const USERS_CONFIG = {
    "NOTIFY_CURRENT": false // If true, the script will notify the user who triggered the event.
};

const USERS = [
    {
        "youtrackUsername": "member_1",
        "webhookUrl": "https://discord.com/api/webhooks/XXX",
        "discordUserID": "XXX"
    },
    {
        "youtrackUsername": "member_2",
        "webhookUrl": "https://discord.com/api/webhooks/XXX",
        "discordUserID": "XXX"
    }
];

module.exports = { USERS_CONFIG, USERS };